@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

body {
  /*font-family: Arial, Helvetica, sans-serif;*/
  /*margin: 30px;*/
  /*padding: 10;*/
  background-color: #000000;
  color: white;
}

body h1 {
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*background-color: #907AA9;*/
  /*height: 150px;*/
  height: 200px;
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 15px 0;
  padding-bottom: 30px;
  /* Adds spacing above and below the image */
}

header img {
  height: 110%;
  /* Adjust size as needed */
  width: auto;
}

header div {
  font-family: cursive;
  margin-top: 10px;
}

.nav-line {
  width: 50%;
  color: #3c6e50;
}

.title {
  text-align: center;
  font-size: 24px;
}

.title-line {
  width: 75%;
  color: #3c6e50;
}

.sample-text {
  margin-left: 200px;
  margin-right: 200px;
  font-size: 18px;
}

.footer {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  width: auto;
  justify-content: center;
  text-align: center;
}
