body {
	font-family: Arial, Helvetica, sans-serif;
	/*margin: 30px;*/
	/*padding: 10;*/
	background-color: #000000;
	color: white;
}

body h1 {
	color: white;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	/*background-color: #907AA9;*/
	/*height: 150px;*/
	height: 200px;
	width: 80%;
	margin: auto;
	text-align: center;
	padding: 15px 0;
	padding-bottom: 30px;
	/* Adds spacing above and below the image */
}

header img {
	height: 110%;
	/* Adjust size as needed */
	width: auto;
}

header div {
	font-family: cursive;
	margin-top: 10px;
}

/* Nav bar styling */
.nav-container {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	margin: auto;
	height: 5%;
	width: auto;
	padding: 0 20px;
	gap: 80px;
	/* Space between nav items */
}

.nav_link {
	display: flex;
	/*color: rgba(255, 255, 255, 1);*/
	color: rgba(200, 200, 200, 1);
	align-items: center;
	gap: 10px;
	position: relative;
}

.nav_link::after {
	content: '';
	height: 2px;
	width: 100%;
	background-color: white;
	/*display: block;*/
	position: absolute;
	left: 0;
	bottom: -6px;
	opacity: 0;
	transition: all 0.2s;
	pointer-events: none;
}

.nav_link:hover,
.nav_link:focus,
.nav_text:focus {
	color: #fff;
}

.nav_link:hover,
.nav_link:focus,
.nav_link li:focus,
.nav_link a:focus {
	color: #fff;
}

.nav_link li {
	list-style: none;
}

.nav_link a {
	text-decoration: none;
	color: inherit;
	font-size: 18px;
}

.nav-line {
	width: 50%;
	color: white;
}

.sample-text {
	margin-left: 200px;
	margin-right: 200px;
	font-size: 18px;
}

.footer {
	display: flex;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
	width: auto;
	justify-content: center;
	text-align: center;
}
