@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  font-family: "JetBrains Mono", monospace;
  background-color: #0f0f0f;
  color: white;
  margin: 0;
  padding: 0;
}

body h1 {
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  width: 80%;
  margin: auto;
  padding: 15px 0;
  padding-bottom: 30px;
}

header img {
  height: 110%;
  width: auto;
}

header div {
  margin-top: 10px;
}

.nav-line {
  width: 50%;
  color: white;
}

.title {
  text-align: center;
  font-size: 24px;
}

.title-line {
  width: 75%;
  color: white;
}

.sample-text {
  margin-left: 200px;
  margin-right: 200px;
  font-size: 18px;
}

.footer {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  width: auto;
  justify-content: center;
  text-align: center;
}

.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  width: 100%;
  position: relative;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  overflow: hidden;
}

/* Make slides responsive */
.mySlides img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

/* Caption text (Centered link) */
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  font-size: 36px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  width: 100%;
  text-decoration: none;
  white-space: nowrap;
}

/* Number text (1/5 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dots {
  text-align: center;
  position: relative;
  bottom: 10px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

/* Make slideshow responsive */
@media (max-width: 768px) {
  .slideshow-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .link {
    font-size: 24px;
    bottom: 15%;
  }

  .numbertext {
    font-size: 10px;
  }
}

/* Ensure images & text scale properly on very small screens */
@media (max-width: 480px) {
  .slideshow-container {
    padding: 5px;
  }

  .link {
    font-size: 18px;
  }

  .dot {
    height: 10px;
    width: 10px;
  }
}
